
key_name=""
availability_zone_count="2"
aws_region="us-east-1"
environment="dev-blue"
owner="josh"
vpc_cidr="10.100.0.0/16"
public_subnet_cidrs=""
private_subnet_cidrs=""
key_dir=""
zone_name=""
autoscaling_group_name="tf-ecs-dev-blue"
