source_up

DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
DB_INFO_DIR=$DIR/../../layers-$ENV_NAME/aurora
ECS_INFO_DIR=$DIR/../../layers-$ENV_NAME/basevpc

cd $DB_INFO_DIR
db_address=$(terraform output database_address || echo "unknown")
export WORDPRESS_DB_HOST=$db_address

cd $ECS_INFO_DIR
export ECS_CLUSTER=$(terraform output cluster_name || echo "unknown")

cd $DIR
export WORDPRESS_DB_PASSWORD=$TF_VAR_aurora_password
